
{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="w3l-hotair-form">
    <!-- <h1>Report Login Form</h1> -->
        <!-- /form -->
        <div class="container" align="center">
            <div class="single">  
               <div class="form-container">
    
                    <h3>Change Password</h3>
                    <!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
                    <form onsubmit=onsubmit ="return  emailValidation()  && passwordValidation()"  action="{% url 'change_password' %}" method="post"
                        id="logform" name="login">
                        <!-- {{error}} -->
                        {% include 'Message.html' %}
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-3 control-lable" for="Current Password">Current Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="password"  name="current_password"
                                placeholder="current Password" class="form-control input-sm"tion(this)id="pass1" onkeyup='passwordValidation(this)' required/><br>
                                <span class="error-msg" id="password"></span><br>
                                    {% comment %} <span id="crnt-passwd" style="font-size:12px;margin-top:-5px;" class="text-danger"></span> {% endcomment %}
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-3 control-lable" for="New Password">New Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="password"  name="new_password"
                                placeholder="new Password" class="form-control input-sm" id="pass3" onkeyup='newpasswordValidation(this)'required/><br>
                                <span class="error-msg" id="newpassword"></span><br>
                                    <span id="new-passwd" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-3 control-lable" for="cpassword">Confirm Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="password"  name="confirm_password"
                                placeholder="Confirm Password" class="form-control input-sm" id="pass2" onkeyup='cpasswordValidation(this)'required/><br>
                                <span class="error-msg" id="confirmpassword"></span><br>
                                    <span id="confirm-passwd" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                                </div>
                            </div>
                         </div>
            
            
                         <div class="row" >
                            <div class="form-actions floatRight" >
                               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="submit" value="Change Password" class="btn btn-primary btn-sm">
                            </div>
                        </div>
                    
                    </form>
                    

                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="{% static 'img/banner/5.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
	
    function passwordValidation(inputTxt){

        var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
        var textField = document.getElementById("password");
    
        if(inputTxt.value != '' ){
                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";
    
                }else{
                    textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                    textField.style.color = "red";
                }
        }else{
            textField.textContent = 'your input is empty';
            textField.style.color = "red";
        }
    }
    function newpasswordValidation(inputTxt){

        var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
        var textField = document.getElementById("newpassword");
    
        if(inputTxt.value != '' ){
                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";
    
                }else{
                    textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                    textField.style.color = "red";
                }
        }else{
            textField.textContent = 'your input is empty';
            textField.style.color = "red";
        }
    }
    function cpasswordValidation(inputTxt){

        var regx =  document.getElementById("pass3").value;
        var regy =  document.getElementById("pass2").value;
        var textField = document.getElementById("confirmpassword");
        var textField1 = document.getElementById("newpassword");
    
        if(inputTxt.value != '' ){
                if(regx == regy){
                    textField.textContent = '';
                    textField.style.color = "green";
    
                }else{
                    textField.textContent = 'not match';
                    textField.style.color = "red";
                }
            }else{
                textField.textContent = '';
                textField.style.color = "red";
            }
    }
</script>

<br>
<br>
<br>
<br>

{% endblock  %}