{% extends 'userbase.html'%}
{% load static %}
{% block content %}

{% comment %} <table>
<div class="content">
    <tr><th>vaccinename</th><th>Date</th></tr>
   <tr><td> {{i.vaccinename}}</td><td>{{i.vaccinedate}}</td></tr>
    
        {% endfor %}
    </div>
</table> {% endcomment %}


<table class="b">
  <tr>
    <th><b>VACCINE</b></th>
    <th><b>DISEASE</b></th> 
    <th><b>AGE</b></th>
    <th><b>NO_DOSE</b></th>
    <th><b>SIDE_EFFECT<b></th>
    <th><b>ACTION<b></th>

    
  </tr>
  {% for i in vaccine %}
  <tr>
    <td width="100px">{{i.vaccine_name}}</td>
    <td>{{i.disease}}</td>
    <td>{{i.age}}</td>
    <td>{{i.no_dose}}</td>
    <td>{{i.side_effects}}</td>
    <td><a button class="btn" href= "{% url 'viewstock' %}">ADD STOCK</button></a></td>
    
  </tr>
  
  {% endfor %}
</table><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<style>
    {% comment %} table.b {
      table-layout: fixed;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      
    }
    .btn{
      width:120px;
      background-color: #32CD32;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    } {% endcomment %}
    table, td, th {
      border: 1px solid;
    }
    .btn{
      width:120px;
      background-color: #32CD32;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
    
    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
    }
    </style>
{% endblock content %}